Source: switchboard-plug-bluetooth
Section: x11
Priority: optional
Maintainer: Corentin Noël <corentin@elementary.io>
Build-Depends: cmake,
               debhelper (>= 9),
               libgranite-dev,
               libswitchboard-2.0-dev,
               valac (>= 0.22)
Standards-Version: 3.9.2
Homepage: https://launchpad.net/switchboard-plug-bluetooth

Package: switchboard-plug-bluetooth
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Enhances: switchboard
Conflicts: switchboard-plug-gcc-bluetooth
Replaces: switchboard-plug-gcc-bluetooth
Description: Bluetooth plug for Switchboard
 This plug configures bluetooth devices.

Package: switchboard-plug-bluetooth-dbg
Architecture: any
Section: debug
Priority: extra
Depends: switchboard-plug-bluetooth (= ${binary:Version}), ${misc:Depends}
Enhances: switchboard-plug-bluetooth
Description: Bluetooth plug for Switchboard (debugging symbols)
 This plug configures bluetooth devices.
 .
 This package contains debugging symbols for switchboard-plug-bluetooth.
