Source: io.elementary.settings.bluetooth
Section: x11
Priority: optional
Maintainer: elementary OS Team <builds@elementary.io>
Build-Depends: debhelper (>= 10.5.1),
               gettext,
               libadwaita-1-dev,
               libgranite-7-dev,
               libswitchboard-3-dev,
               meson,
               valac (>= 0.22)
Standards-Version: 4.1.1
Homepage: https://github.com/elementary/switchboard-plug-bluetooth

Package: io.elementary.settings.bluetooth
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Enhances: switchboard
Description: Bluetooth plug for Switchboard
 This plug configures bluetooth devices.
